@import "reset.scss";
$colorSombraBotonEncima: rgba(44, 44, 44, 0.527);
$colorSombraBoton: rgb(37, 37, 37);

html{
    background-image: url("../multimedia/fondo.jpg");
    background-size: cover;
    background-position: top;
}

body{
    background-color: rgba(0, 0, 0, 0.60);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    display: flex;
    margin-bottom: 0.5em;

    h1{
        align-self: center;
        font-size: 5rem;
        font-family: 'Pirata One', cursive;
    }

    .imagenH{
        width: 15%;
        margin-left: 2em;

        img{
            width: 100%;
        }
    }

    @media screen and (max-width: 500px){
        margin-top: 1em;

        h1{
            font-size: 2rem;
            margin-right: 0;
        }

        .imagenH{
            width: 50%;
        }
    }

    @media screen and (max-width: 900px){
        h1{
            font-size: 3.5rem;
            margin-left: 0.3em;
        }

        .imagenH{
            width: 30%;
        }
    }
}

nav{
    color: white;

    input, label{
        display: none;
    }

    ul{
        display: flex;
        justify-content: space-evenly;

        li{
            a{
                text-decoration: none;
                color: rgb(36, 36, 36);
                background-color: grey;
                border-top: 0.3em solid $colorSombraBoton;
                border-left: 0.3em solid $colorSombraBoton;
                border-radius: 0.1em 1em;
                padding: 1em;
                transition-property: color, border-left, border-top;
                transition-duration: 0.2s;
                font-weight: bold;

                &:hover, &:active{
                    color: white;
                    border-left: 0.3em solid $colorSombraBotonEncima;
                    border-top: 0.3em solid $colorSombraBotonEncima;
                }
            }
        }
    }

    @media screen and (max-width: 500px){
        label{
            display: block;
            margin: 1em;
            margin-bottom: 1.5em;
        }

        input:checked ~ label::before{
            content: "\e900";
        }

        ul{
            display: none;
            left: -12em;
        }

        @keyframes menu{
            from {left: -12em;}
            to {left: 1.3em;}
        }

        input:checked ~ ul{
            display: block;
            left: 1.3em;
            animation-name: menu;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
        }

        ul, input:checked ~ ul{
            position: absolute;
            flex-direction: column;
            justify-content: none;
            background-color: rgba(73, 73, 73, 0.747);
            border-radius: 0.8em;

            li{
                margin: 1.5em;

                a{
                    border-top: 0.3em solid $colorSombraBotonEncima;
                    border-left: 0.3em solid $colorSombraBoton;
                    padding: 0.3em;
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }
}

section{
    margin: 1.5em;
    margin-top: 3em;
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.4em;
    font-weight: bold;

    p{
        margin: 0.5em;
    }

    span{
        font-style: italic;
    }

    article{
        display: flex;
        justify-content: space-between;
        margin: 0.5em 0.5em 1.5em;

        .imagen{
            width: 15%;

            img{
                width: 100%;
            }
        }

        .info{
            width: 85%;
            padding: 0em 1em 1em;

            h2{
                margin: 0.2em 0.5em 0.5em;
                font-style: italic;
            }

            audio{
                margin: 0.5em 1.1em;
            }
        }
    }

    iframe{
        width: 560px;
        height: 360px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5em;
        padding: 1em;
    }

    @media screen and (max-width: 500px){
        font-size: 1rem;

        article{
            .imagen{
                width: 30%;
            }
    
            .info{
                width: 70%;

                audio{
                    margin: 0.5em 0 0;
                    position: relative;
                    right: 2em;
                }
            }
        }

        iframe{
            width: 250px;
            height: 160px;
        }
    }
}

footer{
    padding: 1.5em;

    p{
        display: flex;
        justify-content: space-evenly;
        font-size: 2.5rem;

        a{
            text-decoration: none;
            color: white;

            span, &:hover span{
                background-color: rgba(0, 0, 0, 0.418);
                color: #bdbdbd;
                border-radius: 0.5em;
                margin: 0em 1em 1em;
                padding: 0.3em;
                position: absolute;
            }

            span{
                font-size: 0;
                transition-property: font-size;
                transition-duration: 0.4s;
                transition-delay: 0.7s;
            }

            &:hover span{
                font-size: 1rem;
            }
        }
    }
}