extend template.pug

block pagina
    section
        article
            .imagen
                img(src="multimedia/disco1.jpg", alt="")
            .info
                h2 I brought you my bullets, you brought me your love
                p Es el álbum debut de la banda. Este álbum, al igual que los tres que le siguen, es conceptual. Esta ocasión cuenta la historia de los Demolition Lovers, una pareja de asesinos en serie que tras arrastrar numerosos crímenes consigo, acaban muriendo en el desierto; esta historia continúa en su segundo disco. Ya que el nombre del álbum es demasiado largo, los fans y la banda lo abrevian frecuentemente como Bullets.

                p
                    |La canción más famosa de este álbum fue 
                    span Demolition Lovers:
                audio(src="multimedia/Demolition_Lovers.m4a" controls)
        article
            .imagen
                img(src="multimedia/disco2.jpg", alt="")
            .info
                h2 Three cheers for sweet revenge
                p Se publicó en 2004 y fue su primer disco bajo el sello Reprise Records. Su temática gira en torno a un hombre que vuelve de la muerte, con el objetivo de encontrar a su novia y matar a quienes lo excluyeron en vida. Diferentes críticos han notado la presencia de elementos de humor negro en el álbum. 

                p
                    |La canción más famosa de este álbum fue 
                    span I'm not okay (I promise):
                audio(src="multimedia/Im_Not_Okay.m4a" controls)   
        article
            .imagen
                img(src="multimedia/disco3.jpg", alt="")
            .info
                h2 The Black Parade
                p Al igual que las dos producciones anteriores de la banda, este es un álbum conceptual, centrado esta vez en la historia de un personaje moribundo conocido como el Paciente, que sufre de cáncer. Durante el disco, el Paciente descubre que su enfermedad es terminal, y realiza una reflexión sobre su vida, mientras su muerte va apareciendo representada por un desfile.

                p
                    |La canción más famosa de este álbum fue 
                    span Welcome to the black parade:
                audio(src="multimedia/Welcome_to_the_Black_Parade.m4a" controls)
        article
            .imagen
                img(src="multimedia/disco4.jpg", alt="")
            .info
                h2 Danger days: the true lives of the Fabulous Killjoys
                p Las grabaciones del disco tomaron más de un año, periodo en el que registraron más de treinta y seis canciones, la mayoría de las cuales fueron desechadas debido a que la banda consideró que no eran un aporte para el género. La edición final del álbum y sus videoclips poseen una temática ambientada —al igual que la película Blade runner— en una California futurista y posapocalíptica del año 2019, en donde unos forasteros llamados Killjoys combaten contra una corporación que controla a la sociedad. La banda ha manifestado que esta idea es una metáfora de las cosas por las que pasaron durante la creación del disco. El vocalista de la banda, Gerard Way, publicaría durante 2013 un cómic que continúa la historia descrita en los videoclips del álbum. A diferencia de como lo habían hecho con sus trabajos anteriores, la agrupación señaló que Danger days no es un álbum conceptual, aunque hay críticos que sí lo refieren como tal.

                p
                    |La canción más famosa de este álbum fue 
                    span Na Na Na:
                audio(src="multimedia/Na_Na_Na.m4a" controls)