extend template.pug

block pagina
    section
        p My Chemical Romance es una banda estadounidense de rock, formada en el año 2001 en el estado de Nueva Jersey, e integrada en la mayor parte de su historia por el vocalista Gerard Way, el bajista Mikey Way y los guitarristas Ray Toro y Frank Iero; también Matt Pelissier y Bob Bryar fueron alguna vez los bateristas. En marzo de 2013, la banda anunció su separación;​ aunque tras casi siete años de inactividad, el 31 de octubre de 2019 anunciaron su reunión, con una gira mundial que comenzaron el 20 de diciembre siguiente en Los Ángeles (California).

        p Su estilo musical ha sido asociado a los géneros rock, punk, pop punk, post-hardcore. Entre las influencias que han citado están diversos artistas como MC5, Misfits, Black Flag, Queen, Morrissey o Teenage Fanclub. La crítica, asimismo, ha dicho que la esencia de la banda recae en el drama, y que durante su carrera produjeron «un rock and roll de los más viscerales y dramáticos en la historia reciente».

        p Luego de firmar con la discográfica Eyeball Records, crearon en el año 2002 su álbum debut, I brought you my bullets, you brought me your love. Posteriormente se integraron a Reprise Records, y fue en 2004 cuando publicaron Three cheers for sweet revenge, disco que les dio la fama mundial con canciones como «Helena» y «I'm not okay (I promise)». Su siguiente trabajo fue The Black Parade, de 2006, en el cual presentaron un sonido más elaborado, clásico y con influencias de los años setenta,​ en canciones como «Welcome to the Black Parade» o «Teenagers». En 2010, después de haber grabado un disco completo y desecharlo, volvieron al estudio de grabación y publicaron su cuarto álbum, llamado Danger days: the true lives of the Fabulous Killjoys, cuyos primeros sencillos fueron «Na na na» y «SING».

        p 
            |En cuanto a la recepción de la crítica, 
            span The Black Parade 
            |obtuvo el puesto número 20 en la lista de los mejores álbumes de 2006 de la revista 
            span Rolling Stone 
            |y 
            span Danger days 
            |fue ubicado en el número 28 en la lista respectiva de 2010, de la misma publicación.​ Sin embargo, incluso 
            span The Black Parade 
            |fue excluido de la mayoría de las listas de mejores álbumes de la década. Musicalmente han sido señalados como el equivalente a The Who para la «generación Facebook».

        p
            |Al igual que en otros países, en los Estados Unidos tanto su segundo como su tercer disco han recibido la certificación de disco de platino.​ Sus álbumes también han recibido certificaciones de ventas en otros diversos países, como Reino Unido, Australia o México.​ A nivel mundial, 
            span The Black Parade 
            |ha vendido más de tres millones de copias, mientras que 
            span Danger days 
            |había superado el millón de copias a tres meses de su publicación.

        p
            |El grupo ha sido descrito como un híbrido entre rock gótico, glam, heavy metal y punk. Su música también ha sido catalogada como emo, pop punk, post-hardcore o punk revival. Pero el grupo se ha descrito a sí mismo solo como «una banda de rock», de «pop peligroso y violento» (en su página oficial) o de «rock con toques de punk». Cada álbum de la banda ha presentado diferentes tipos de canciones con respecto a su antecesor; la banda ha declarado que desde sus inicios se propusieron no tocar siempre un mismo estilo de música.
            
        p
            |Mucha gente los considera un grupo emo, acerca de lo cual Gerard Way, en una entrevista realizada en 2005, comentó: «Es una asociación de la crítica, casi una teoría. El tema es que cuando empezamos lo hicimos tocando con muchas bandas que se consideran emo o screamo. Realmente no creo que seamos un grupo emo». En 2007, harto de que se lo asocie con este género, en una entrevista para la revista NME dijo: «Creo que el emo es una pila de mierda, sinceramente, el emo es una maldita basura... es una estupidez. Hay bandas con las que se nos asocia que son consideradas emo y por eso se nos etiqueta de emo también. Cualquiera que se ponga a escuchar algunos discos emo realmente no notaría ninguna similitud». Más tarde, aclaró que solo el emo de la actualidad es el que desprecia. En la década de 1980, grupos como 
            span Rites of Spring   
            |y 
            span Embrace   
            |fueron los pioneros de las bandas de este género, y coincide que ellos también odiaban que se les calificara como tales.