<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My Chemical Romance
        link(rel="stylesheet", href="css/estilo.css")
        link(rel="stylesheet", href="icomoon/style.css")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Pirata+One&family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet")
        
    body
        header
            .imagenH
                img(src="multimedia/logo.png", alt="")
            h1 My Chemical Romance
        nav
            input(type="checkbox" name="" id="chk_menu")
            label(for="chk_menu" class="icon-menu")
            ul
                li
                    a(href="index.html") Biografía
                li
                    a(href="discografia.html") Discografía
                li
                    a(href="novedades.html") Últimas novedades
        block pagina
        footer
            p
                a(class="icon-sphere" href="https://www.mychemicalromance.com/")
                    span Página oficial
                a(class="icon-shopping_basket" href="https://mychemicalromance.warnerrecords.com/")
                    span Tienda
                a(class="icon-instagram" href="https://www.instagram.com/mychemicalromance/?hl=es")
                    span Instagram
                a(class="icon-twitter" href="https://twitter.com/MCRofficial?s=20")
                    span Twitter
                a(class="icon-youtube" href="https://www.youtube.com/user/mychemicalromance")
                    span YouTube
                a(class="icon-spotify" href="https://open.spotify.com/artist/7FBcuc1gsnv6Y1nwFtNRCb?si=DTsLPRj_T3KMxigO1YQUwg")
                    span Spotify